<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>这是主页面</h1> <br/>
    <a href="login.html">登录</a>
    <a href="register.html">注册</a>
    <br>
    <hr>
    <h2>操作如下</h2>
    <a href="/api/add">添加商品</a>
    <a href="/api/select">查询商品</a>
    <a href="/api/update">修改商品</a>
    <a href="/api/delete">删除商品</a>
    <a href="/logout">退出登录</a>

</body>
</html>